BASE_URL="https://practice.expandtesting.com/notes/api"
ENDPOINT_HEALTH_CHECK="/health-check"
ENDPOINT_USERS_REGISTER="/users/register"
ENDPOINT_USERS_LOGIN="/users/login"
ENDPOINT_USERS_PROFILE_GET="/users/profile"
ENDPOINT_USERS_PROFILE_EDIT="/users/profile"
ENDPOINT_USERS_PROFILE_DELETE="/users/delete-account"
ENDPOINT_USERS_LOG_OUT="/users/logout"
ENDPOINT_USERS_CHANGE_PASSWORD="/users/change-password"
ENDPOINT_NOTES="/notes"

